window {
    font-family: "FiraCode Nerd Font";
    font-size: 11pt;
}

#window {
    background-color: #2E3440;
    border: 2px solid #88C0D0;
    border-radius: 12px;
}

#mainbox {
    padding: 12px;
}

#input {
    background-color: #3B4252;
    color: #D8DEE9;
    
    border: none;
    border-radius: 12px;
    padding: 12px;
    
    margin-bottom: 12px; 
    
    caret-color: #D8DEE9;
}

#input placeholder {
    color: #4C566A;
    opacity: 1;
}

#prompt {
    padding-right: 12px; 
    color: #88C0D0;
    background-color: transparent;
}

#scroll {
}

#list {
}

#entry {
    background-color: transparent;
    color: #D8DEE9;
    
    padding: 8px;
    border-radius: 12px;
    border: none;
    
    margin-bottom: 8px;
}

#entry:last-child {
    margin-bottom: 0px;
}

#entry:selected {
    background-color: #5E81AC;
    color: #ECEFF4;
}

#entry image {
    margin-right: 8px; 
}

#text {
    background-color: transparent;
}
